{% extends 'base.html' %}
{% block content %}
{% load static %}

<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'quiz' %}">
      <img class="header-logo" src="{% static 'images/white-logo-correct.png' %}" alt="">
    </a>
    <div class="btns">
      
      <a href="{% url 'display_scores' user_id=user.id %}">
        <button class="btn btn-light">Check Scores</button>
    </a>
    <a href="{% url 'logout' %}">
      <button class="btn btn-light">Logout</button>
    </a>
    </div>
  </div>
  
</nav>

{% endblock %}