{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="vh-100" style="background-image: url('{% static 'images/earth-night.jpg' %}');background-repeat: no-repeat;background-size: cover;">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Verify OTP</h2>

                            <div id="loaderOverlay" class="overlay" style="display: none;">
                                <div id="loader" class="text-center d-flex flex-column justify-content-center align-items-center">
                                    <img src="{% static 'images/white-logo-correct.png' %}" alt="Loading..." class="loader-image">
                                    <div class="mt-2">Loading...</div>
                                </div>
                            </div>

                            <form id="otpVerificationForm" method="POST">
                                {% csrf_token %}

                                <div class="form-outline mb-4">
                                    <input class="m-2 text-center form-control rounded" type="text" id="id_otp" name="otp" maxlength="6" />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button id="verifyButton" type="submit" class="btn btn-dark btn-block btn-lg gradient-custom-4 text-light">Verify</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const otpVerificationForm = document.getElementById('otpVerificationForm');
    const loaderOverlay = document.getElementById('loaderOverlay');
    const verifyButton = document.getElementById('verifyButton');

    otpVerificationForm.addEventListener('submit', function() {
        // Hide the verify button and show the loader
        verifyButton.style.display = 'none';
        loaderOverlay.style.display = 'block';
    });
</script>
{% endblock %}
